In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 73.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=57aecb68cb16330904196df05cf4817b8d4acc82939c0d2d330d567170e4ba8c
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("MLhands-on").enableHiveSupport().getOrCreate()

In [8]:
spark

In [12]:
df_pyspark=spark.read.csv('/content/boston.csv',header='true', inferSchema='true')

In [13]:
df_pyspark.printSchema()

root
 |-- CRIM: double (nullable = true)
 |-- ZN: double (nullable = true)
 |-- INDUS: double (nullable = true)
 |-- CHAS: integer (nullable = true)
 |-- NOX: double (nullable = true)
 |-- RM: double (nullable = true)
 |-- AGE: double (nullable = true)
 |-- DIS: double (nullable = true)
 |-- RAD: integer (nullable = true)
 |-- TAX: integer (nullable = true)
 |-- PT: double (nullable = true)
 |-- B: double (nullable = true)
 |-- LSTAT: double (nullable = true)
 |-- MV: double (nullable = true)

In [14]:
df_pyspark.show()

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
|0.032370001| 0.0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|
|0.069049999| 0.0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|
|0.029850001| 0.0|2.180000067|   0|0.458000004|6.429999828|58.70000076|6.062200069|  3|222|18.70000076|394.1199951|5.210000038|28.70000076|
|0.088289998|12.5|7.869999886|   0|0.523999989|6.012000084|66.59999847|5.560500145|  5|311|15.19999981|395.6000061|12.43000031|22.89999962|
|0.144549996|12.5|7.869999886|   0|0.523999989|6.171999931|96.09999847|5.950500011|  5|311|15.19999981|396.8999939|19.14999962|27.10000038|
|0.211239994|12.5|7.869999886|   0|0.523999989|5.631000042|      100.0|6.082099915|  5|311|15.19999981|386.6300049|29.93000031|       16.5|
|0.170039997|12.5|7.869999886|   0|0.523999989|6.004000187|85.90000153|6.592100143|  5|311|15.19999981|386.7099915|17.10000038|18.89999962|
|0.224889994|12.5|7.869999886|   0|0.523999989|6.376999855|94.30000305|6.346700191|  5|311|15.19999981| 392.519989|20.45000076|       15.0|
|0.117470004|12.5|7.869999886|   0|0.523999989|6.008999825|82.90000153|6.226699829|  5|311|15.19999981|396.8999939|13.27000046|18.89999962|
|0.093780003|12.5|7.869999886|   0|0.523999989|5.888999939|       39.0|5.450900078|  5|311|15.19999981|      390.5|15.71000004|21.70000076|
|0.629760027| 0.0|8.140000343|   0|0.537999988|5.948999882|61.79999924|4.707499981|  4|307|       21.0|396.8999939|8.260000229|20.39999962|
|0.637960017| 0.0|8.140000343|   0|0.537999988|6.096000195|       84.5|4.461900234|  4|307|       21.0| 380.019989|10.26000023|18.20000076|
|0.627390027| 0.0|8.140000343|   0|0.537999988|5.834000111|       56.5|4.498600006|  4|307|       21.0|395.6199951|8.470000267|19.89999962|
|1.053930044| 0.0|8.140000343|   0|0.537999988|5.934999943|29.29999924|4.498600006|  4|307|       21.0|386.8500061|6.579999924|23.10000038|
|0.784200013| 0.0|8.140000343|   0|0.537999988|5.989999771|81.69999695|4.257900238|  4|307|       21.0|     386.75|14.67000008|       17.5|
|0.802709997| 0.0|8.140000343|   0|0.537999988|5.455999851|36.59999847|3.796499968|  4|307|       21.0|288.9899902|11.68999958|20.20000076|
|0.725799978| 0.0|8.140000343|   0|0.537999988|5.727000237|       69.5|3.796499968|  4|307|       21.0|390.9500122|11.27999973|18.20000076|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
only showing top 20 rows

In [15]:
df_pyspark.describe().toPandas()

,summary,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,count,506,506,506,506,506,506,506,506,506,506,506,506,506,506
1,mean,3.6135235608162057,11.363636363636363,11.136778749531626,0.0691699604743083,0.5546950602312246,6.28463438896641,68.57490120115612,3.7950426960059325,9.549407114624506,408.2371541501976,18.45553382776679,356.67402960597883,12.653063233922925,22.53280636250988
2,stddev,8.601545086715594,23.32245299451514,6.86035298095724,0.2539940413404101,0.1158776754570543,0.7026171549511354,28.148861532793276,2.105710142043288,8.707259384239366,168.53711605495903,2.164945780039869,91.29486340272308,7.141061500195388,9.197104107945272
3,min,0.00632,0.0,0.460000008,0,0.38499999,3.561000109,2.900000095,1.129600048,1,187,12.60000038,0.319999993,1.730000019,5.0
4,max,88.97619629,100.0,27.73999977,1,0.870999992,8.779999733,100.0,12.12650013,24,711,22.0,396.8999939,37.97000122,50.0

In [16]:
pandas_data =df_pyspark.toPandas()
pandas_data.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001

In [18]:
feature_columns = df_pyspark.columns[:-1]

In [19]:

feature_columns

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PT',
 'B',
 'LSTAT']

In [22]:
from pyspark.ml.feature import VectorAssembler

In [21]:
assembler = VectorAssembler(inputCols= feature_columns, outputCol= "features")

In [26]:
data = assembler.transform(df_pyspark)

In [27]:
pands_vector = data.toPandas()
pands_vector.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV,features
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000,"[0.00632, 18.0, 2.309999943, 0.0, 0.537999988,..."
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000,"[0.027310001, 0.0, 7.070000172, 0.0, 0.4690000..."
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001,"[0.02729, 0.0, 7.070000172, 0.0, 0.469000012, ..."
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002,"[0.032370001, 0.0, 2.180000067, 0.0, 0.4580000..."
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001,"[0.069049999, 0.0, 2.180000067, 0.0, 0.4580000..."

In [28]:
vector_data = vector.select(['features', 'MV'])
vector_data.show()

+--------------------+-----------+
|            features|         MV|
+--------------------+-----------+
|[0.00632,18.0,2.3...|       24.0|
|[0.027310001,0.0,...|21.60000038|
|[0.02729,0.0,7.07...|34.70000076|
|[0.032370001,0.0,...|33.40000153|
|[0.069049999,0.0,...|36.20000076|
|[0.029850001,0.0,...|28.70000076|
|[0.088289998,12.5...|22.89999962|
|[0.144549996,12.5...|27.10000038|
|[0.211239994,12.5...|       16.5|
|[0.170039997,12.5...|18.89999962|
|[0.224889994,12.5...|       15.0|
|[0.117470004,12.5...|18.89999962|
|[0.093780003,12.5...|21.70000076|
|[0.629760027,0.0,...|20.39999962|
|[0.637960017,0.0,...|18.20000076|
|[0.627390027,0.0,...|19.89999962|
|[1.053930044,0.0,...|23.10000038|
|[0.784200013,0.0,...|       17.5|
|[0.802709997,0.0,...|20.20000076|
|[0.725799978,0.0,...|18.20000076|
+--------------------+-----------+
only showing top 20 rows

In [29]:
splits = vector_data.randomSplit([0.7, 0.3])
train_data = splits[0]
test_data = splits[1]

In [30]:
from pyspark.ml.regression import LinearRegression

In [31]:
model = LinearRegression(featuresCol= 'features', labelCol= 'MV')
model_lr = model.fit(train_data)

In [32]:
model_lr.coefficients

DenseVector([-0.104, 0.0498, 0.0174, 2.0357, -17.2028, 3.1903, 0.0099, -1.3037, 0.3078, -0.0119, -1.0344, 0.0086, -0.572])

In [34]:
predictions = model_lr.transform(test_data) # we use transform method to test the model
predictions.show()

+--------------------+-----------+------------------+
|            features|         MV|        prediction|
+--------------------+-----------+------------------+
|[0.00632,18.0,2.3...|       24.0|30.294868011629134|
|[0.01096,55.0,2.2...|       22.0|27.859987369201313|
|[0.01301,35.0,1.5...|32.70000076| 30.52773940502638|
|[0.01501,80.0,2.0...|       24.5|28.168451297848726|
|[0.02055,85.0,0.7...|24.70000076|25.839656507788646|
|[0.024979999,0.0,...|       16.5| 22.45057558571176|
|[0.027629999,75.0...|30.79999924|31.361294107037494|
|[0.02899,40.0,1.2...|26.60000038|22.374640034651296|
|[0.030409999,0.0,...|       18.5|19.437022576847983|
|[0.03049,55.0,3.7...|31.20000076|28.685647196108626|
|[0.032370001,0.0,...|33.40000153|28.480200274421353|
|[0.03548,80.0,3.6...|20.89999962| 22.71793766330717|
|[0.035780001,20.0...|45.40000153| 38.43334577088833|
|[0.035840001,80.0...|       23.5| 30.92575052715179|
|[0.038710002,52.5...|23.20000076| 27.63329919139538|
|[0.042970002,52.5...|24.79999924|27.112748348013554|
|[0.043370001,21.0...|       20.5| 24.59134097426753|
|[0.046840001,0.0,...|22.60000038|26.861067114757255|
|[0.054249998,0.0,...|24.60000038|29.290260307059278|
|[0.056019999,0.0,...|       50.0| 34.82916344866508|
+--------------------+-----------+------------------+
only showing top 20 rows

In [37]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluation = RegressionEvaluator(labelCol="features ",predictionCol="MV")

In [39]:
summary = model_lr.evaluate(test_data)

In [41]:
print("The RMSE Value is :",summary.rootMeanSquaredError)

The RMSE Value is : 5.089556187176582